
{% extends 'base.html.twig' %}
 
{% block title %}
    Titulo de la vista
{% endblock %}
 
 
{% block body  %}
    <div>
        <h1>ESTAS EN UN SIMULADORN DE CONTACTOS</h1>
    </div>
{% endblock %}
