
{% extends 'base.html.twig' %}
 

{% extends 'base.html.twig' %}
 
{% block title_name %}
    Titulo de la vista
{% endblock %}
{% block header %}
    <h1>New Contact</h1>
{% endblock %}
 
{% block content  %}
    {{ form() }}
{% endblock %}