
{% extends 'base.html.twig' %}

{% block title_name %}
    AGENDA HARMAN
{% endblock %}


{% block navbar %}
{% endblock %}

 
{% block header %}
    
    Tituloooo
{% endblock %}
 
 {% block content  %}
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada velit eu sollicitudin semper. Sed luctus purus in ligula tempor, a faucibus ligula ornare. Integer tristique consequat enim eget hendrerit. Sed condimentum nibh ipsum, eu ullamcorper orci pulvinar sed. In ornare justo eget dolor faucibus facilisis.</p>
    </div>
{% endblock %}