
{% extends 'base.html.twig' %}
 {% block stylesheets %}
        <link href="{{ asset('app.css') }}" type="text/css" rel="stylesheet" />
 {% endblock %}
{% block title_name %}
    AGENDA HARMAN
{% endblock %}


 
{% block header %}
    titulo desde un bloque
{% endblock %}
 
{% block content  %}
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada velit eu sollicitudin semper. Sed luctus purus in ligula tempor, a faucibus ligula ornare. Integer tristique consequat enim eget hendrerit. Sed condimentum nibh ipsum, eu ullamcorper orci pulvinar sed. In ornare justo eget dolor faucibus facilisis.</p>
    </div>
{% endblock %}