
{% extends 'base.html.twig' %}

{% block title_name %}
    AGENDA HARMAN
{% endblock %}


{% block navbar %}


{% endblock %}

 
{% block header %}
    WELCOME, IT 'S YOUR AGENDA
{% endblock %}
 
 {% block content  %}
    <div>
        <H2>Here You Can Find Some Options:</H2>
    </div>
{% endblock %}