body{
    background-color: black;
    text-align: center;
}


.header{
    color: aqua;
   
    width: 70px;
    height: 70px;    
    font-size: 50px;

}


div{
    color: aqua;
    text-align: center;
    
}

nav{
    background-color: aqua;
}