body{
    background-color: black;
    text-align: center;
}


.header{
    color: aqua;
    margin: 3%;
    padding: 5%;
    font-family: 'Abril Fatface';
    font-size: 500%;
    transition: 0.8S;

}

.header:hover{
    color: blueviolet;
    transition: 0.8S;
    text-decoration:dotted;
}


div{
    color: aqua;
    text-align: center;
    
}

nav{
    background-color: aqua;
}
.input{
    color: blueviolet;
}


.prueba{
    background-color: rgb(224, 204, 241);
}