body{
    background-color: black;
    text-align: center;
}


.header{
    color: aqua;
    margin: 3%;
    padding: %;
        
    font-size: 50px;

}


div{
    color: aqua;
    text-align: center;
    
}

nav{
    background-color: aqua;
}