
.header{
    color: rgb(0, 0, 0);
    margin: 3%;
    padding: 5%;
    font-family: 'Abril Fatface';
    font-size: 500%;
    transition: 0.8S;
    text-align: center;

}
.header:hover{
    color: rgb(211, 89, 89);
    transition: 0.8S;
    text-decoration:dotted;
}


div{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Abril Fatface';
   
}

nav{
    background-color: rgb(98, 143, 143);
    display: inline;
    text-align: center;
    align-content: space-between;
    margin: 3%;
    padding: 2%;
}
.input{
    color: rgb(0, 0, 0);
    text-align: center;

}
.container{
    color:rgb(0, 0, 0);
    font-family: 'Abril Fatface';
    border-color: rgb(255, 123, 123);
    text-align: center;
    border-style: solid;
   
}


#b{
  background-color: rgb(180, 219, 206);  
  color: black;
  margin-left: 10%;
  M
    border-color: black;
  transition: 0.8s;
  font-family: 'Abril Fatface';
  font-size: 25px;
}

#b:hover{
    background-color: rgb(252, 133, 133);
    transition: 0.8s;
    
}