<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title_name %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
         
        <nav class="">
            {% block navbar %}{% endblock %}
        </nav>
        <h1 class="prueba">
            {% block header %}{% endblock %}
        </h1>
        {% block content %}{% endblock %}

       
        {% block javascripts %}{% endblock %}
    </body>
</html>