
{% extends 'base.html.twig' %}

{% block title_name %}
    AGENDA HARMAN
{% endblock %}


{% block navbar %}


<a name="" id="" class="btn btn-primary" href="{{path('contact_new')}}" role="button">NEW CONTACT</a>
<a name="" id="" class="btn btn-primary" href="{{path('phones_new')}}" role="button">PHONES</a>
<a name="" id="" class="btn btn-primary" href="{{path('show_contact')}}" role="button">SHOW CONTACTS</a>

{% endblock %}

 
{% block header %}
    WELCOME, IT 'S YOUR AGENDA
{% endblock %}
 
 {% block content  %}
    <div>
        <H2>Here You Can Find Some Options:</H2>
    </div>
{% endblock %}