
{% extends 'base.html.twig' %}
 
{% block title_name %}
 ADD CON
{% endblock %}
{% block header %}
    <h1 style="text align: center">New Contact</h1>
{% endblock %}
 
{% block content  %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock %}
