
{% extends 'base.html.twig' %}
 
 
{% block navbar %}


<a name="" id="b" class="btn btn-primary" href="{{path('')}}" role="button">HOME</a>
<a name="" id="b" class="btn btn-primary" href="{{path('phones_new')}}" role="button">PHONES</a>
<a name="" id="b" class="btn btn-primary" href="{{path('show_contacts')}}" role="button">SHOW CONTACTS</a>

{% endblock %}
{% block title_name %}
 ADD NEW CONTACT
{% endblock %}
{% block header %}
    <h1 style="text-align:center">NEW CONTACT</h1>
{% endblock %}
 
{% block content  %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock %}
