
{% extends 'base.html.twig' %}
 
{% block title_name %}
    CONTACTOS
{% endblock %}
{% block header %}
    <h1 style="text align: center">New Contact</h1>
{% endblock %}
 
{% block content  %}
    <div class="formulario">
    {{ form(form) }}
    </div>
    {{hola}}
{% endblock %}
