{% extends 'base.html.twig' %}
 
{% block title_name %}
    HERE U CAN EDIT 
{% endblock %}
{% block header %}
    <h1>New Contact</h1>
{% endblock %}
 
{% block content  %}
    <div class="formulario">
    {{ form(form) }}
    </div>
    {{hola}}
{% endblock %}
