{% extends 'base.html.twig' %}
 
{% block title_name %}
    
{% endblock %}
{% block header %}
   <h1 style="text-align:center">NEW CONTACT</h1>
{% endblock %}
 
{% block content  %}
  
<div class="container">
    {{ form(form) }}
    </div>
    
{% endblock %}
