
{% extends 'base.html.twig' %}
 

 
{% block title_name %}
    CONTACTOS
{% endblock %}
{% block header %}
    <h1 style="text-align:center">ADD NEW PHONE NUMBER</h1>
{% endblock %}
 
{% block content  %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock %}