
{% extends 'base.html.twig' %}
 
{% block title_name %}
    CONTACTOS
{% endblock %}
{% block header %}
    <h1>PHONES</h1>
{% endblock %}
 
{% block content  %}
    <div class="formulario">
    {{ form(formp) }}
    </div>
    {{hola}}
{% endblock %}